header {
	background: #2c3e50;
	color: #fff;
}

.main {
	background: #f2f2f2;
}

.color1 {
	background: #34485e;
	color: #fff;
}

.ventana {
	background: #2996C9;
	color: #000000;
}

footer {
	background: #2996C9;
	color: #fff;
}

.btn1 {
	background-color: #555555;
	border-radius: 8px;
  	color: white;
  	padding: 10px 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}


.titPrin {
	display: inline-block;
	padding: 20px;
	color: #FFFAFA;
}

.tema {
	width: 250px;
	height: 60px;
	margin-top: 10px;
	margin-bottom: 10px
	background-color: #0C0C0C;
}

.introduccion {
	text-align: justify;
}